   <div class="row">
    <h1>Customers page</h1>
        <div class="col s12 m6" ng-repeat="customer in customerList">
          <div class="card indigo darken-4">
            <div class="card-content white-text">
              <span class="card-title">{{customer.FirstName}}</span>
              <p>Customer last name: {{customer.LastName}}</p>
              <p>Customer created: {{customer.DateCreated}}</p>
            </div>
            <div class="card-action">
         <button class="btn yellow accent-2" ng-click="loadAllCustomers()"><span style="color: black">Load customers</span></button>
   <!--      <button class="btn red darken-1" ng-click="routeDelete(route.routeid)">Delete route</button> -->
            </div>
          </div>
        </div>
      </div>